{% extends "base.html" %} {% block title %}User Profile - {{ user.name }}{%
endblock %} {% block content %}
<div class="container mx-auto">
  <h1 class="my-8 text-3xl font-bold text-center">
    User Profile - {{ user.name }}
  </h1>
  <div class="bg-white shadow-md rounded-lg p-6">
    <div class="grid grid-cols-2 gap-4">
      <div>
        <p class="text-gray-600">
          <strong>Student ID:</strong> {{ user.student_id }}
        </p>
        <p class="text-gray-600"><strong>Email:</strong> {{ user.email }}</p>
        <p class="text-gray-600">
          <strong>Department:</strong> {{ user.department }}
        </p>
        <p class="text-gray-600">
          <strong>Designation:</strong> {{ user.designation }}
        </p>
        <p class="text-gray-600"><strong>Phone:</strong> {{ user.phone }}</p>
        <p class="text-gray-600">
          <strong>Semester:</strong> {{ user.semester }}
        </p>
        <p class="text-gray-600">
          <strong>Date of Birth:</strong> {{ user.dob }}
        </p>
        <p class="text-gray-600">
          <strong>Blood Group:</strong> {{ user.blood_group }}
        </p>
        <p class="text-gray-600">
          <strong>Joined Semester:</strong> {{ user.joined_semester }}
        </p>
      </div>
      <div></div>
    </div>
  </div>
</div>
{% endblock %}
