{% extends 'base.html' %} {% block title %}Vote{% endblock %} {% block content
%}
<div class="container mx-auto mt-8 flex justify-center items-center">
  <div class="bg-white p-8 shadow-md rounded-md w-96">
    <h1 class="text-3xl font-bold mb-6">Vote</h1>

    <form
      method="post"
      action="{{ url_for('polls.vote', poll_id=poll.id) }}"
      class="space-y-4"
    >
      <div>
        <h2 class="text-lg font-bold mb-2">{{ question }}</h2>
      </div>
      <div>
        {% for option in options %} {% if option %}
        <div class="flex items-center mb-2">
          <input
            type="radio"
            id="{{ option }}"
            name="option"
            value="{{ option }}"
            class="mr-2"
          />
          <label for="{{ option }}" class="text-sm">{{ option }}</label>
        </div>
        {% endif %} {% endfor %}
      </div>

      <button
        type="submit"
        class="w-full py-2 px-4 bg-[#2A5CAA] text-white rounded-md hover:bg-[#09377c]"
      >
        Vote
      </button>
    </form>
  </div>
</div>
{% endblock %}
