{% extends 'base.html' %} 
{% block title %}Create event{% endblock %} 
{% block content %}
<div class="container mx-auto mt-8 flex justify-center items-center">
    <div class="bg-white p-8 shadow-md rounded-md w-96">
      <h1 class="text-3xl font-bold mb-6">Create Event</h1>
    <form method="POST" action="{{ url_for('event.create')}}">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="form-group">
            <label for="datetime">Date:</label>
            <input type="datetime-local" class="form-control" id="datetime" name="datetime">
        </div>
        <div class="form-group">
            <label for="venue">Venue:</label>
            <input type="text" class="form-control" id="venue" name="venue">
        </div>
        <br>
        <button
    type="submit"
    class="bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600 w-full">
    submit
    </button>
    </form>
</div>
</div>


{% endblock %}