{% extends "base.html" %} {% block title %}My Bookings{% endblock %} {% block
content %}
<div class="container mx-auto min-h-screen">
  <div>
    <h1 class="my-8 text-3xl font-bold text-center">My Bookings</h1>

    <div class="bg-white shadow-md rounded-lg overflow-x-auto">
      <table class="table-auto w-full" id="bookings-table">
        <thead class="bg-gray-200">
          <tr>
            <th scope="col" class="px-6 py-3 text-center">Room No</th>
            <th scope="col" class="px-6 py-3 text-center">Start Time</th>
            <th scope="col" class="px-6 py-3 text-center">End Time</th>
            <th scope="col" class="px-6 py-3 text-center">Actions</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          {% for booking in my_bookings %}
          <tr>
            <td class="px-6 py-4 text-center">{{ rooms[booking.room_id] }}</td>
            <td class="px-6 py-4 text-center">{{ booking.start_time }}</td>
            <td class="px-6 py-4 text-center">{{ booking.end_time }}</td>
            <td class="px-6 py-4 text-center">
              <form
                action="{{ url_for('resources.cancel_booking', booking_id=booking.id) }}"
                method="post"
              >
                <button
                  type="submit"
                  class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
                >
                  Cancel Booking
                </button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
