{% extends "base.html" %} {% block title %}Change Password - BUAIC{% endblock %}
{% block content %}
<div class="bg-gray-100 flex justify-center items-center mx-auto">
  <div class="bg-white p-8 rounded-lg shadow-md">
    <h2 class="text-2xl font-bold mb-4">Change Password</h2>
    <form
      id="change-password-form"
      method="POST"
      action="{{ url_for('user.change_password') }}"
    >
      <div class="mb-4">
        <label for="current-password" class="block">Current Password:</label>
        <input
          type="password"
          id="current-password"
          name="current_password"
          required
          class="border border-gray-300 px-4 py-2 rounded-md w-full"
        />
      </div>
      <div class="mb-4">
        <label for="new-password" class="block">New Password:</label>
        <input
          type="password"
          id="new-password"
          name="new_password"
          required
          class="border border-gray-300 px-4 py-2 rounded-md w-full"
        />
      </div>
      <div class="mb-4">
        <label for="confirm-password" class="block"
          >Confirm New Password:</label
        >
        <input
          type="password"
          id="confirm-password"
          name="confirm_password"
          required
          class="border border-gray-300 px-4 py-2 rounded-md w-full"
        />
      </div>
      <button
        type="button"
        id="confirm-button"
        class="bg-blue-500 text-white px-4 py-2 rounded-md"
      >
        Confirm Password Change
      </button>
    </form>
  </div>
</div>

<div
  id="overlay"
  class="hidden fixed inset-0 bg-black bg-opacity-50 z-50 backdrop-blur"
></div>

<div
  id="confirmation-modal"
  class="hidden fixed z-50 inset-0 flex items-center justify-center"
>
  <div class="bg-white rounded-lg p-8 max-w-md mx-auto">
    <p class="text-lg font-semibold mb-4">
      Are you sure you want to change your password?
    </p>
    <div class="flex justify-end">
      <button
        id="cancel-button"
        class="mr-4 px-4 py-2 bg-gray-200 text-gray-700 rounded-md"
      >
        Cancel
      </button>
      <button
        id="confirm-change-button"
        class="px-4 py-2 bg-red-500 text-white rounded-md"
      >
        Confirm Change
      </button>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const confirmButton = document.getElementById("confirm-button");
    const modal = document.getElementById("confirmation-modal");
    const overlay = document.getElementById("overlay");
    const cancelButton = document.getElementById("cancel-button");
    const confirmChangeButton = document.getElementById(
      "confirm-change-button"
    );
    const changePasswordForm = document.getElementById("change-password-form");

    confirmButton.addEventListener("click", function () {
      modal.classList.remove("hidden");
      overlay.classList.remove("hidden");
    });

    cancelButton.addEventListener("click", function () {
      modal.classList.add("hidden");
      overlay.classList.add("hidden");
    });

    confirmChangeButton.addEventListener("click", function () {
      changePasswordForm.submit();
    });
  });
</script>

{% endblock %}
