{% extends 'base.html' %} 
{% block title %}Change Password - BUAIC{% endblock %} 
{% block content %}
<div class="container mx-auto mt-8 flex justify-center items-center">
  <div class="bg-white p-8 shadow-md rounded-md w-96">
    <h1 class="text-3xl font-bold mb-6">Change Password</h1>

    <form method="post" action="{{ url_for('user.change_password') }}" class="space-y-4">
      <div>
        <label for="current-password" class="text-sm">Current Password:</label>
        <input
          type="password"
          name="current_password"
          required
          class="border w-full p-2 rounded-md"
        />
      </div>
      <div>
        <label for="new_password" class="text-sm">New Password:</label>
        <input
          type="password"
          name="new_password"
          required
          class="border w-full p-2 rounded-md"
        />
      </div>
      <div>
        <label for="confirm_password" class="text-sm">Confirm New Password:</label>
        <input
          type="password"
          name="confirm_password"
          required
          class="border w-full p-2 rounded-md"
        />
      </div>

      {% with messages = get_flashed_messages() %} 
      {% if messages %}
      <div class="mb-4">
        <ul class="list-disc pl-4">
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %} 
      {% endwith %}

      
        <button type="submit" class="w-full py-2 px-4 bg-blue-600 text-black rounded-md hover:bg-blue-700">Change Password</button>
      
    </form>
  </div>
</div>
{% endblock %}
