{% extends 'base.html' %} {% block title %}Edit Profile - BUAIC{% endblock %} {%
       block content %}
       <div class="container mx-auto mt-8 flex justify-center items-center">
         <div class="bg-white p-8 shadow-md rounded-md w-96">
           <h1 class="text-3xl font-bold mb-6">Edit Profile</h1>
       
           <form
             method="POST"
             action="{{ url_for('user.edit_profile') }}"
             class="space-y-4"
           >
           <div>
              <label for="name" class="text-sm">Name:</label>
              <input
                type="text"
                id="name"
                name="name"
                value="{{ user.name }}"
                placeholder="Your Full Name"
                required
                class="border w-full p-2 rounded-md"
              />
            </div>
      
            <div>
              <label for="student_id" class="text-sm">Student ID:</label>
              <input
                type="text"
                id="student_id"
                name="student_id"
                placeholder="Your Student ID"
                value="{{ user.student_id }}"
                required
                class="border w-full p-2 rounded-md"
              />
            </div>
      
            <div>
              <label for="email" class="text-sm">Email:</label>
              <input
                type="email"
                id="email"
                name="email"
                value="{{ user.email }}"
                placeholder="Your Email"
                required
                class="border w-full p-2 rounded-md"
              />
            </div>
      
            <div>
              <label for="phone" class="text-sm">Phone Number:</label>
              <input
                
                id="phone"
                name="phone"
                value="{{ user.phone }}"
                placeholder="Your Phone Number"
                required
                class="border w-full p-2 rounded-md"
                maxlength="14"
              />
            </div>
      
            <div>
              <label for="semester" class="text-sm">Semester:</label>
              <input
                type="text"
                id="semester"
                name="semester"
                value="{{ user.semester }}"
                placeholder="1st, 2nd etc."
                required
                class="border w-full p-2 rounded-md"
              />
            </div>
      
      
            <div>
              <label for="blood_group" class="text-sm">Blood Group:</label>
              <select
                id="blood_group"
                name="blood_group"
                required
                class="border w-full p-2 rounded-md"
            >
                <option value="" disabled>Select Blood Group</option>
                <option value="A+" {% if user.blood_group == "A+" %}selected{% endif %}>A+</option>
                <option value="A-" {% if user.blood_group == "A-" %}selected{% endif %}>A-</option>
                <option value="B+" {% if user.blood_group == "B+" %}selected{% endif %}>B+</option>
                <option value="B-" {% if user.blood_group == "B-" %}selected{% endif %}>B-</option>
                <option value="O+" {% if user.blood_group == "O+" %}selected{% endif %}>O+</option>
                <option value="O-" {% if user.blood_group == "O-" %}selected{% endif %}>O-</option>
                <option value="AB+" {% if user.blood_group == "AB+" %}selected{% endif %}>AB+</option>
                <option value="AB-" {% if user.blood_group == "AB-" %}selected{% endif %}>AB-</option>
            </select>
            </div>
            <div>
              <label for="preferred_department" class="text-sm"
                >Preferred Department:</label
              >
              <select
                id="preferred_department"
                name="preferred_department"
                required
                class="border w-full p-2 rounded-md"
              >
              <option value="" disabled>Select Department</option>
              <option value="Communication and Marketing" {% if user.department == "Communication and Marketing" %}selected{% endif %}>Communication and Marketing</option>
              <option value="Creative" {% if user.department == "Creative" %}selected{% endif %}>Creative</option>
              <option value="Event Management" {% if user.department == "Event Management" %}selected{% endif %}>Event Management</option>
              <option value="Finance" {% if user.department == "Finance" %}selected{% endif %}>Finance</option>
              <option value="Human Resources" {% if user.department == "Human Resources" %}selected{% endif %}>Human Resources</option>
              <option value="Press Release and Publications" {% if user.department == "Press Release and Publications" %}selected{% endif %}>Press Release and Publications</option>
              <option value="Research and Development" {% if user.department == "Research and Development" %}selected{% endif %}>Research and Development</option>
            </select>
            </div>
            
            {% with messages = get_flashed_messages() %} 
            {% if messages %}
            <div class="mb-4">
              <ul class="list-disc pl-4">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
              </ul>
            </div>
            {% endif %} 
            {% endwith %}
                <div>
                  <button
                      type="submit"
                      class="bg-blue-500 text-white p-2 rounded-md w-full"
                  >
                      Update Profile
                  </button>
             </div>
           </form>
         </div>
       </div>
       {% endblock %}