{% extends "base.html" %} {% block title %}Reset Password - BUAIC{% endblock %}
{% block content %}
<div class="bg-gray-100 min-h-screen flex justify-center items-center">
  <div class="bg-white p-8 rounded-lg shadow-md">
    <h2 class="text-2xl font-bold mb-4">Reset Password</h2>
    <form
      method="POST"
      action="{{ url_for('user.reset_password', token=token) }}"
    >
      <div class="mb-4">
        <label for="password" class="block">New Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          required
          class="border border-gray-300 px-4 py-2 rounded-md w-full"
        />
      </div>
      <div class="mb-4">
        <label for="confirm_password" class="block"
          >Confirm New Password:</label
        >
        <input
          type="password"
          id="confirm_password"
          name="confirm_password"
          required
          class="border border-gray-300 px-4 py-2 rounded-md w-full"
        />
      </div>
      <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md">
        Reset Password
      </button>
    </form>
  </div>
</div>
{% endblock %}
