{% extends 'base.html' %} {% block title %}Create Event{% endblock %} {% block
content %}
<div class="container mx-auto mt-8 flex justify-center items-center">
  <div class="bg-white p-8 shadow-md rounded-md w-96">
    <h1 class="text-3xl font-bold mb-6">Create Event</h1>
    <form method="POST" action="{{ url_for('event.create')}}" class="space-y-4">
      <div>
        <label for="title" class="block text-gray-700 font-bold mb-2"
          >Title:</label
        >
        <input
          type="text"
          class="border border-gray-300 rounded-md py-2 px-3 w-full focus:outline-none focus:border-blue-500"
          id="title"
          name="title"
        />
      </div>
      <div>
        <label for="description" class="block text-gray-700 font-bold mb-2"
          >Description:</label
        >
        <input
          type="text"
          class="border border-gray-300 rounded-md py-2 px-3 w-full focus:outline-none focus:border-blue-500"
          id="description"
          name="description"
        />
      </div>
      <div>
        <label for="start_datetime" class="block text-gray-700 font-bold mb-2"
          >Start Date & Time:</label
        >
        <input
          type="datetime-local"
          class="border border-gray-300 rounded-md py-2 px-3 w-full focus:outline-none focus:border-blue-500"
          id="start_datetime"
          name="start_datetime"
        />
      </div>
      <div>
        <label for="end_datetime" class="block text-gray-700 font-bold mb-2"
          >End Date & Time:</label
        >
        <input
          type="datetime-local"
          class="border border-gray-300 rounded-md py-2 px-3 w-full focus:outline-none focus:border-blue-500"
          id="end_datetime"
          name="end_datetime"
        />
      </div>
      <div>
        <label for="venue" class="block text-gray-700 font-bold mb-2"
          >Venue:</label
        >
        <input
          type="text"
          class="border border-gray-300 rounded-md py-2 px-3 w-full focus:outline-none focus:border-blue-500"
          id="venue"
          name="venue"
        />
      </div>
      <br />

      <button
        type="submit"
        class="bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600 w-full"
      >
        Submit
      </button>
    </form>
  </div>
</div>
{% endblock %}
