{% extends 'base.html' %} {% block title %}Events{% endblock %} {% block content
%}
<div class="container mx-auto min-h-screen">
  <div>
    <h1 class="my-8 text-3xl font-bold text-center">Events</h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6">
      {% for event in events %} {% if event.end_date >= now %}
      <div
        class="rounded-md overflow-hidden shadow-md bg-blue-500 text-white/95 cursor-pointer"
      >
        <div
          class="p-4"
          onclick="window.location.href='{{ url_for('attendance.record_attendance', event_id=event.id) }}'"
        >
          <h2 class="text-lg font-bold mb-2">{{ event.title }}</h2>
          <p class="text-gray-200 mb-2">{{ event.description }}</p>
          <p class="text-gray-200 mb-2">
            <strong>Start Time:</strong> {{ event.start_date}}
          </p>
          <p class="text-gray-200 mb-2">
            <strong>End Time:</strong> {{ event.end_date}}
          </p>
        </div>

        <div class="p-4 flex justify-end mr-4">
          <div>
            <form
              action="{{ url_for('event.delete', event_id=event.id) }}"
              method="post"
            >
              <button type="submit" class="text-red-800 hover:text-red-600">
                Delete
              </button>
            </form>
          </div>
        </div>
      </div>
      {% else %}
      <div class="rounded-md overflow-hidden shadow-md bg-white text-black/95">
        <div class="p-4">
          <h2 class="text-lg font-bold mb-2">{{ event.title }}</h2>
          <p class="text-gray-700 mb-2">{{ event.description }}</p>
          <p class="text-gray-700 mb-2">
            <strong>Start Time:</strong> {{ event.start_date}}
          </p>
          <p class="text-gray-700 mb-2">
            <strong>End Time:</strong> {{ event.end_date}}
          </p>
        </div>
      </div>
      {% endif %} {% endfor %}
    </div>

    {% if events|length == 0 %}
    <p class="mt-6">No events found.</p>
    {% endif %}

    <div class="mt-8">
      <a
        href="{{ url_for('event.create') }}"
        class="bg-blue-500 text-white font-bold py-2 px-4 rounded"
        >Create new event</a
      >
    </div>
  </div>
</div>
{% endblock %}
