{% extends 'base.html' %} 
{% block title %}Events{% endblock %} 
{% block content %}
<div class="container mx-auto mt-8 flex justify-center items-center">
    <div class="bg-white p-8 shadow-md rounded-md w-96">
      <h1 class="text-3xl font-bold mb-6">Current Events</h1>

    <br>{% if total_events < 2 %}
    <p><b>Currently only {{ total_events }} event is upcoming</b></p>
    {% else %}
        <p><b>Currently {{ total_events }} events are upcoming</b></p>
{% endif %}
        
    <br>
    <ul>
        {% for event in events %}
            <li>
                <b>{{ loop.index }}</b> <a href="{{url_for('event.show', event_id=event.id)}}">{{event.title}}</a>
            </li>
        {% else %}
            <li>No events found.</li>
        {% endfor %}
        <br><br>
        <li>
            <a href="{{url_for('event.create')}}" class="bg-blue-500 text-white font-bold py-2 px-4 rounded">Create new event</a>
        </li>
    </ul>
</div>
</div>
{% endblock %}

